footer{
    height: 50px;
    width: auto;
    text-align: center;

    // 間違ったコード↓
    // padding-top: 15px;

    line-height: 50px;
    color: #fff;
    background-color: #191919;
    font-size: 12px;
}